.dashboard-header h1 {
  margin: 0 auto;
}

.dashboard-container {
  display: flex;
  gap: 30px;
}

.dashboard-sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-button {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  width: 160px;
  height: 50px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0);
}

.dashboard-button:hover {
  background-color: black;
  color: white;
}

.dashboard-main {
  padding: 20px;
  flex-grow: 1;
  width: 60%;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info p {
  display: flex;
  margin: 0 0 5px 0;
  text-align: center;
}

.logout-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.logout-link:hover {
  text-decoration: underline;
}

.ongoing-jobs-section {
  margin-top: 20px;
}

/* .ongoing-jobs-section p {
  margin-left: 10px;
  padding-left: 10px;
} */

.ongoing-jobs-table {
  display: flex;
  flex-direction: column;
}

.ongoing-jobs-header,
.ongoing-job-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
}

.ongoing-job-item input[type="checkbox"] {
  margin-left: 10px;
}