

.dashboard-container {
  display: flex;
  gap: 30px;
}

.dashboard-sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-button {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  width: 160px;
  height: 50px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0);
}

.dashboard-button:hover {
  background-color: black;
  color: white;
}

.dashboard-main {
  padding: 20px;
  width: 60%;
}

.ongoing-jobs-section {
  margin-top: 20px;
  font-size: 18px;
}


.ongoing-jobs-table {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.ongoing-jobs-header,
.ongoing-job-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
}

.ongoing-jobs-header {
  font-weight: bold;
}


#ongoing-label {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.ongoing-job-item input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  accent-color: #3c915c; /* Custom color (modern browsers only) */
}


#ongoing-jobs-name {
  transform: translateX(40px);
}

.export-csv-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 30px;
  font-size: 14px;
  padding: 10px;
}

.export-csv-button:hover {
  background-color: black;
  color: white;
}