.user-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.user-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
    margin: 10px;
}

.user-info {
    /* 2x2 gridlayout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.user-info-label {
    gap: 10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    height: 60px;
}

.user-info-label-item {
    padding-top: 4px;
    font-weight: bold;
    background-color: rgb(200, 200, 200);
    color: black;
    width: 250px;
    height: 30px;
    align-items: center;
}